<!-- views/pages/features.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main class="main">
		<div class="row">
			<div class="col-sm-8 hidden-xs">
				<div class="jumbotron jumbotron-feature">
					<h1>Wassup</h1>
				
				</div>
			</div>
			<div class="col-sm-4">
				<a href="https://projects.invisionapp.com/d/main#/console/867799/19160917/preview" target=" "><img src="https://worldvectorlogo.com/logos/invision.svg"></a>
				
			</div>
		</div>
		
	</main>
	
	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>