<!-- views/partials/header.ejs -->

<nav class="nav nav-bar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
<!-- 			insert wh logo -->
			<a href="#" class="navbar-brand">LOGO
				
			</a>
			
		</div>

		<ul class="nav navbar-nav navbar-left">
			<li><a href="#">HOME</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/features">Features</a></li>
		</ul>
		
	</div>
</nav>