<!-- views/partials/header.ejs -->

<nav class="nav nav-bar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
<!-- 			insert wh logo -->
			<a href="#" class="navbar-brand">
				
			</a>
			
		</div>

		<ul class="nav navbar-nav">
			<li><a href="#">HOME</a></li>
			<li><a href="#">About</a></li>
		</ul>
		
	</div>
</nav>