<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Work Harmony</h1>
			<p>Choose your team layout</p>
			
		</div>	
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>


	
</body>
</html>