<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
</head>
<body class="container">
	<header>
		<% include ./partials/header %>
	</header>

	<main class="main">
		<div class="row">
			<div class="col-sm-8 hidden-xs">
				<div class="jumbotron">
					<h1>Work Harmony</h1>
					<p>A Better Way To Work</p>
					
				</div>
			</div>	
			<div class="col-sm-4">
				<div class="well">
					<h3>Compare Personalities</h3>
					<h4 class="hidden-xs">Enter Two Twitter Handles</h4>
					<form class="form-horizontal">
						<div class="form-group form-group-md">
							<!-- <label for="employee1" class="col-sm-3 control-label">Twitter Handle 1:</label> -->
							<div class="col-sm-8">
								<input name="employee1" type="text" class="form-control" placeholder="Twitter Handle 1"/>
							</div>		
						</div>
						<div class="form-group form-group-md">
                    		<!-- <label for="employee2" class="col-sm-3 control-label">Twitter Handle 2:</label> -->
                    		<div class="col-sm-8">
                        		<input name="employee2" type="text" class="form-control" placeholder="Twitter Handle 2"/>
                    		</div>
                		</div>

                		 <button class="btn btn-primary btn-md" type="submit">Get My Results!</button>
						
					</form>
				</div>	
			</div>
		</div>	
	</main>

	<footer>
		<% include ./partials/footer %>
	</footer>


	
</body>
</html>