html {
	box-sizing: none;
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  padding: 2px;
  background-color: #425f9c;
  width: 100%;

}

a {
  color: white;
}

.main {
	height: 500px;
	width: 100%;
	background-color: #425f9c;
}

.row {
	padding-top: 20px;
	padding-right: 25px;
	padding-left: 25px; 

}

footer {
	margin: 0 auto;
	padding-top: 85px;
}

.footer-p {
	color: white;
}